* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #FBFBFB;
    width: 100%;
    height: 100vh;
    scroll-behavior: smooth;
}

main {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    overflow: hidden;
}

.countainer {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}

header {
    width: 100%;
    background-color: #ffff;
    position: fixed;
    z-index: 100;
    box-shadow: 0 10px 20px rgb(247, 246, 246);
}

header nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.menu-wrapper {
    display: flex;
    align-items: center;
    gap: 40px;
    font-size: 16px;
    list-style-type: none;
}

.menu-wrapper li a {
    color: #4F5665;
    text-decoration: none;
}

.menu-wrapper li a:hover {
    color: #F53855;
}

.button-wrapper-auth {
    display: flex;
    align-items: center;
    gap: 30px;
}

.button-wrapper-auth button {
    background-color: transparent;
    padding: 5px 20px;
    border: 2px solid transparent;
}

.button-wrapper-auth button:hover {
    outline: 2px solid #F53855;
    border-radius: 30px;
}

.hero-section {
    width: 100%;
    background-color: #ffff;
    padding-bottom: 80px;
}

.hero-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding-top: 50px;
}

.hero-content-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hero-content-wrapper h1 {
    font-size: 50px;
    color: #0B132A;
    font-weight: 400;
}

.hero-content-wrapper p {
    font-size: 16px;
    color: #4F5665;
}

.hero-content-wrapper button {
    width: 250px;
    height: 60px;
    color: white;
    background-color: #F53838;
    border-radius: 10px;
    box-shadow: 0 10px 15px #f19393;
    border: 2px solid transparent;
    margin-top: 30px;
}

.hero-wrapper img {
    flex: 1;
}

.features-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 96px;
    background-color: #ffff;
    padding-bottom: 131px;

    margin-bottom: 100px;
}

.wrapper-card-info {
    width: 100%;
    display: flex;
    box-shadow: 0 5px 20px rgb(163, 163, 163);
    padding: 50px 0;
}

.perent-info-card {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 36px;
    flex: 1;
    padding: 0 50px;
}

.info-card-locations {
    border-left: 2px solid #EEEFF2;
    border-right: 2px solid #EEEFF2;
}

.wrapper-label-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.info-lebel-number {
    font-size: 25px;
    color: #0B132A;
    font-weight: 700;
}

.info-label {
    font-size: 20px;
    color: #4F5665;
}

.perent-features-content {
    display: flex;
    align-items: end;
    gap: 169px;
    scroll-margin-top: 200px;
}

.wrapper-content-features {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.wrapper-list-features {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.list-features {
    display: flex;
    align-items: center;
    gap: 10px;
}

/*  price section */

.price-section {
    display: flex; 
    align-items: center;
    flex-direction: column;
    gap: 20px;
    scroll-margin-top: 120px;
}

.price-section p {
    text-align: center;
    color: #4F5665;
    font-size: 16px;
}

.wrapper-card-price {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}

.card-price {
    width: 330px;
    height: 760px;
    background-color: #ffff;
    border: 2px solid #DDDDDD;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 79px;
    gap: 30px;
    position: relative;
}

.card-price:hover {
    border: 2px solid #F53838;
    cursor: pointer;
}



.perent-list-benefit {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.list-benefit {
    display: flex;
    align-items: center;
    gap: 10px;
}

.wrapper-button-price {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: absolute;
    bottom: 50px;
}

.wrapper-button-price button {
    width: 177px;
    height: 45px;
    border-radius: 50px;
    border: 2px solid #F53838;
    color: #F53838;
}


.wrapper-button-price button:hover {
    width: 177px;
    height: 45px;
    border-radius: 50px;
    background-color: #F53838;
    color: white;

}

.global-network-section {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    flex-direction: column;
    margin-top: 150px;
    text-align: center;
}

.global-network-section img {
    width: 1060px;
    height: 537px;
    object-fit: cover;
    margin-top: 155px;
    margin-bottom: 50px;
}

.wrapper-brand {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrapper-brand img {
    width: 170px;
    height: 51px;
    margin-top: 0px;
}

/* section testimonials */
.testimonials-section {
    width: 100%;
    text-align: center;
    gap: 20px;
    padding-top: 80px;
    padding-bottom: 189px; 
    display: flex;
    flex-direction: column; 
    scroll-margin-top: 50px;
}

.wrapper-card-testimonials {
    width: 1330px;
    display: flex;
    align-items: center;
    gap: 50px;
    padding-top: 40px;
}


.card-testimonials {
    width: 400px;
    height: 230px;
    padding: 30px;
    border: 2px solid #DDDDDD;
    border-radius: 10px;
    text-align: start;
    display: grid;
    gap: 10px;
}

.card-testimonials:hover {
    border-color: #f53838;
  box-shadow: 0 10px 20px rgba(245, 56, 56, 0.2);
}

.header-user-testimonials {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.header-user-testimonials span {
    display: inline-flex;
    align-items: center;
    font-size: 16px;
    gap: 10px;
}

.wrapper-user-testimonials {
    display: flex;
    align-items: center;
    gap: 25px;
}

.wrapper-user-testimonials img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.wrapper-biodata-user {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.wrapper-biodata-user .name-user {
    font-size: 18px;
    font-weight: 600;
}

.wrapper-biodata-user .address-user {
    font-size: 14px;
    color: #4F5665; 
}

.wrapper-bottom-testimonials {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.wrapper-bottom-testimonials .wrapper-dot {
    display: flex;
    align-items: center;
    gap: 15px;
}

.wrapper-dot .dot-active {
    width: 45px;
    height: 15px;
    border-radius: 50px;
    background-color: #F53855;
}

.dot {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: #DDE0E4;
}

.wrapper-button {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-top: 40px;
}

.wrapper-button button {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    border: 2px solid #F53838;
    background-color: transparent;
}

.wrapper-button button:hover {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color: #e5b0b0;
    cursor: pointer;
}

.button-arrow-right img {
    transform: scaleX(-1);
}

/* footer */

footer {
    width: 100%;
    max-width: 1440px;
    background-color: #F8F8F8;
    padding: 180px 150px;
    position: relative;
    margin: 0 auto;
}

.perent-card-subcribe {
    width: 1140px;
    height: 233px;
    border-radius: 20px;
    border: 2px solid #DDDDDD;
    position: absolute;
    top: -120px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 70px;
}

.wrapper-content-card-subcribe {
    display: grid;
    gap: 20px;
}

.wrapper-content-card-subcribe h1 {
    width: 355px;
    color: #0B132A;
    font-size: 35px;
    padding-right: 30px;
}

.wrapper-content-card-subcribe h3 {
    font-size: 18px;
    color: #4F5665;
}

.perent-card-subcribe button {
    width: 250px;
    height: 60px;
    border: 2px solid #F53838;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 700;
    color: #F53838;
    background-color: transparent;
}

.perent-card-subcribe button:hover {
    width: 250px;
    height: 60px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 700;
    color: white;
    background-color: #F53838;
    box-shadow: 10px 10px 10px #e5b0b0;
    cursor: pointer;
}

.perent-content-footer {
  width: 1140px;
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.wrapper-laslesVPN-content {
  width: 340px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.logo-image {
  width: 148px;
  height: 35px;
}

.wrapper-social-media-laslesVPN {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 10px;
}

.wrapper-social-media-laslesVPN a {
  text-decoration: none;
  width: 35px;
  height: 35px;
  box-shadow: 2px 5px #f4eded;
  border-radius: 100%;
}

.wrapper-social-media-laslesVPN a img {
  width: 35px;
  height: 35px;
}

.wrapper-menu-footer {
  width: 550px;
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.wrapper-menu {
  display: grid;
  gap: 20px;
}

.wrapper-menu-footer .menu {
  display: grid;
  gap: 10px;
}

.wrapper-menu-footer .menu a {
  text-decoration: none;
  color: #4F5665;
  font-size: 16px;
}